name: Build Kivy APK

on:
  push:
    branches: [ main, master ]

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ استيراد ملفات المشروع
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2️⃣ بناء الـ APK باستخدام Buildozer
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          workdir: test_app  # تأكد من أن المسار صحيح للمجلد الذي يحتوي على buildozer.spec
          buildozer_version: stable  # تأكد من استخدام الإصدار الصحيح

      # 3️⃣ رفع الـ APK كـ Artifact
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: buildozer-artifacts  # يمكنك تغيير الاسم إذا أردت
          path: test_app/bin/*.apk  # تأكد من أن المسار صحيح


      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: buildozer-artifacts
          path: test_app/bin/*.apk
