name: Build Kivy APK

on:
  push:
    branches:
      - main

jobs:
  build-apk:
    runs-on: ubuntu-latest
    
    

    steps:
      # 1️⃣ استيراد ملفات المشروع
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ إضافة خطوة لتخزين الـ cache
      - name: Cache Buildozer
        uses: actions/cache@v3
        with:
          path: |
            ~/.buildozer
            test_app/.buildozer
          key: buildozer-${{ runner.os }}-${{ hashFiles('test_app/buildozer.spec') }}
          restore-keys: |
            buildozer-${{ runner.os }}-

      # 3️⃣ تشغيل الحاوية الجاهزة لبناء APK
      - name: Build APK using existing Docker container
        run: |
          docker run --rm -v ${{ github.workspace }}:/app lamideag-buildozer \
          bash -c "cd /app && buildozer android debug"

      # 4️⃣ رفع APK كـ artifact لتتمكن من تحميله
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MyApp-APK
          path: test_app/bin/*.apk
