name: Build Kivy APK (Docker Image)

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  build-android:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/lamideag/buildozer:latest
      # لاحقًا استخدام

    env:
      APP_DIR: test_app
      APP_ANDROID_ACCEPT_SDK_LICENSE: 1
      BUILDOZER_WARN_ON_ROOT: 0

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Verify container (important)
        run: |
          echo "Running inside image:"
          buildozer --version
          which buildozer

      - name: Build APK
        working-directory: ${{ github.workspace }}/${{ env.APP_DIR }}
        run: |
          buildozer android debug --no-confirm

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: ${{ env.APP_DIR }}/bin/*.apk








